@import "./Setting.scss";
@import "./Base.scss";

$header-height-sm: 62px;
$header-height: 62px;

body {
    padding-top: $header-height;
}

.site-header {
    position: absolute;
    z-index: 10;
    width: 100%;
    left: 0;
    top: 0;
    background: $primary;
    border-bottom: 1px solid rgba(66, 82, 109, 0.5);
    background: transparent;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        background: $primary;
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
    }

    &.is-sticky {
        margin-top: -73px;
    }
}

.site-header > .container-wide,
.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    transition: padding 0.3s ease-in-out;
    height: 62px;
}

.container-wide {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1260px;
    max-width: 2000px;
}

// --------------Site Logo Styles--------------- //

$max-logo-width-sm: 150px;
$max-logo-width: 202px;

.site-logo {
    padding-top: 20px;
    a {
        display: block;
        padding-top: 10px;
        &:hover {
            cursor: pointer;
        }
    }

    img {
        width: 100%;
        border-radius: 50px;
    }
}

// --------------Desktop Menu Style--------------- //
.desktop-menu {
    width: 100%;

    @include stop-at($medium) {
        display: none !important;
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    display: flex;
    align-items: center;
    justify-content: flex-end;

    li {
        margin-left: 14px;

        &:first-child {
            margin-left: 0;
        }

        @include start-at(1600px) {
            margin-left: 24px;
        }
    }

    a.button {
        font-size: 12px !important;
        height: 48px;
        font-weight: 500;
        margin-left: 0px;
        white-space: nowrap;
        padding: 4px 12px;

        @include start-at(1800px) {
            font-size: 16px !important;
            //  margin-left: 24px;
        }
    }

    a.has-icon {
        &:after {
            display: none;
        }
    }

    li.is-active,
    li.current-menu-item {
        a {
            color: $white;

            &:after {
                transform: scaleX(1);
            }
        }
    }
}

.site-header {
    .button {
        background: transparent;

        &:before {
            background: $gradient;
            background-position: 58% 50%;
            background-size: 500%;
            animation: gradient-shift 30s ease infinite;
            z-index: -1;
            opacity: 0;
            transition: opacity $trans;
        }

        &:after {
            clip-path: polygon(0% 0%, 0% 100%, 2% 96%, 2% 6%, 98% 6%, 98% 95%, 0% 95%, 0 100%, 100% 100%, 100% 0%);
            z-index: -2;
        }

        &:hover {
            &:before {
                opacity: 1;
            }
        }
    }
}

.watch-sub-nav,
.has-dot {
    &:after {
        display: none !important;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        transition: opacity 0.4s ease !important;

        span {
            display: block;
            position: relative;

            &:after {
                content: "";
                width: 100%;
                height: 2px;
                display: block;
                position: absolute;
                bottom: -4px;
                background: $gradient;
                transform-origin: center;
                transform: scaleX(0);
                transition: transform $trans;
            }
        }

        img {
            width: 10px;
            margin-left: 4px;
            transform: translate3d(0, 1px, 0);
        }

        &:hover {
            //opacity: 0.6;
            color: $white !important;

            span {
                &:after {
                    transform: scaleX(1);
                }
            }
        }
    }

    &.is-active {
        span {
            &:after {
                transform: scaleX(1);
            }
        }
    }
}

.watch-sub-nav.home,
.has-dot.home {
    a {
        &:before {
            content: "";
            width: 8px;
            height: 8px;
            display: block;
            margin-right: 8px;
            background: $gradient;
        }

        span {
            &:after {
                background: $gradient;
            }
        }
    }
}

.watch-sub-nav.portfolio,
.has-dot.portfolio {
    a {
        &:before {
            content: "";
            width: 8px;
            height: 8px;
            display: block;
            margin-right: 8px;
            background: $gradient-portfolio;
        }
        span {
            &:after {
                background: $gradient-portfolio;
            }
        }
    }
}

.watch-sub-nav.service,
.has-dot.service {
    a {
        &:before {
            content: "";
            width: 8px;
            height: 8px;
            display: block;
            margin-right: 8px;
            background: $gradient-service;
        }
        span {
            &:after {
                background: $gradient-service;
            }
        }
    }
}

.watch-sub-nav.about,
.has-dot.about {
    a {
        &:before {
            content: "";
            width: 8px;
            height: 8px;
            display: block;
            margin-right: 8px;
            background: $gradient-about;
        }
        span {
            &:after {
                background: $gradient-about;
            }
        }
    }
}

.mobile-navigation {
    .watch-sub-nav,
    .has-dot {
        a {
            display: inline-flex;
        }
    }
}

.contact {
    font-family: $sans-serif;
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    font-weight: 600;
    font-size: 14px;
    padding: 4px 28px;
    height: 56px;
    border-radius: 0;
    overflow: hidden;
    background: transparent;

    letter-spacing: 0.07em;
    text-transform: uppercase;

    color: $white;
    transition: background $trans, border-color $trans, color $trans;
    &:before {
        content: "";
        display: block;
        position: absolute;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        top: 2px;
        left: 2px;
        background: $black;
        z-index: -1;
        transform: translate3d(0, 0, 0);
        transition: background $trans;
        border-radius: 50px;
    }

    &:after {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        z-index: -3;
        background: $gradient;
        background-position: 58% 50%;
        background-size: 500%;
        animation: gradient-shift 30s ease infinite;
        border-radius: 50px;
    }

    &:hover {
        cursor: pointer;
        color: $black;

        &:before {
            background: transparent;
        }
    }

    &.is-active {
        &:before {
            opacity: 0;
        }
    }
    @include start-at($xlarge) {
        font-size: 16px;
    }
}

.logo-icon {
    font-family: $nova-font;
    position: relative;
    z-index: 25;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    font-weight: 600;
    font-size: 50px;
    padding: 25px;
    height: 83px;
    border-radius: 0;
    overflow: hidden;
    background: transparent;

    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-style: italic;

    color: $white;
    transition: background $trans, border-color $trans, color $trans;
    &:before {
        content: "";
        display: block;
        position: absolute;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        top: 2px;
        left: 2px;
        background: $black;
        z-index: -1;
        transform: translate3d(0, 0, 0);
        transition: background $trans;
        border-radius: 50px;
        background: transparent;
    }

    &:after {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        z-index: -3;
        background: $gradient;
        background-position: 58% 50%;
        background-size: 500%;
        animation: gradient-shift 30s ease infinite;
        border-radius: 50px;
    }

    color: $black;
    cursor: pointer;

    &.is-active {
        &:before {
            opacity: 0;
        }
    }
}

.site-header-burger {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .has-sub-nav {
        position: relative;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        align-items: center;
        padding: 8px 0;

        @include stop-at($header-breakpoint) {
            display: none;
        }

        &.mr-3 {
            .sub-nav {
                width: 200px;
            }
        }
    }

    @include start-at($header-breakpoint) {
        width: 50%;
        display: none;

        .icon-link--heart {
            display: flex;
            align-items: center;

            &:before {
                content: "";
                margin: 0 22px;
                height: 24px;
                width: 1px;
                background: #42526d;
                display: block;
            }
        }
    }

    @include start-at($large) {
        width: 20%;

        .has-sub-nav.mr-3 {
            display: none;
        }
    }

    .heart-icon-fill {
        opacity: 0;
    }

    .heart-icon {
        width: 22px;
    }

    .globe {
        width: 22px;
    }

    .js-timezone-set {
        transition: opacity $trans;

        &:hover {
            opacity: 0.6;
        }
    }
}

.burger {
    position: relative;
    width: 60px;
    height: 60px;

    img {
        width: 24px;
    }

    @include start-at($header-breakpoint) {
        display: none !important;
    }

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        transition: opacity 0.4s ease;
    }
    .open {
        opacity: 0;

        img {
            width: 16px;
            margin: 0 auto;
        }
    }
    .closed {
        opacity: 1;
    }
    &:hover {
        cursor: pointer;
    }

    .menu-is-active & {
        .open {
            opacity: 1;
        }
        .closed {
            opacity: 0;
        }
    }
}

.mobile-drawer {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    background: rgba($black, 0.96);
    z-index: 10;
    bottom: $header-height;
    top: $header-height;
    padding-bottom: $header-height;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity $trans;

    @include start-at($header-breakpoint) {
        display: none !important;
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .navigation-inner {
        height: 100%;

        .btn {
            margin: 48px 0;
        }
    }

    hr {
        background: $border;
    }

    .menu-is-active & {
        opacity: 1;
        pointer-events: inherit;
    }
}

.mobile-navigation {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    a {
        font-size: 35px;
        font-weight: 500;
        color: $white;
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        padding: 4px 0;
        transition: color $trans;

        &:hover {
            color: $mkt-gray;
        }

        svg {
            fill: currentColor;
            margin-right: 8px;
        }
    }

    li {
        margin-bottom: 12px;
    }

    li.is-active,
    li.products li.is-active,
    li.products.is-active,
    li.current-menu-item {
        a {
            color: $white;
        }
    }
}

.matrix1 {
    transform: matrix(-1, 0, 0, -1, 84.0769, -22.9231);
}

.matrix2 {
    transform: matrix(1, 0, 0, 1, 84.0769, -22.9231);
}

.matrix3 {
    transform: matrix(0.70711, 0.7071, -0.7071, 0.70711, -84.0769, 22.9231);
}

.matrix4 {
    transform: matrix(0.70711, 0.7071, -0.7071, 0.70711, 84.0769, -22.9231);
}

.matrix5 {
    transform: matrix(1, 0, 0, 1, -84.0769, 22.9231);
}

.matrix6 {
    transform: matrix(0.42262, 0.90631, -0.90631, 0.42262, 84.0769, -22.9231);
}

.matrix7 {
    transform: matrix(0.08716, 0.9962, -0.9962, 0.08716, -84.0769, 22.9231);
}

.matrix8 {
    transform: matrix(-1, 0, 0, -1, 84.0769, -22.9231);
}

#shapes-mask {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.25s ease 0.65s;
    z-index: 1;
}

#shapes-mask svg path {
    stroke: inherit;
    fill: none;
}
svg:not(:root) {
    overflow: hidden;
}

#shapes-mask .yellow {
    stroke: #ff0;
    fill: none;
}

#shapes-mask .p2 {
    left: 80%;
    top: 70%;
}

#shapes-mask .layer1,
#shapes-mask .layer2 {
    position: absolute;
    z-index: 1;
}

#shapes-mask .p3 {
    left: 50%;
    top: 20%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#shapes-mask .aqua {
    stroke: aqua;
    fill: none;
}

#shapes-mask .p4 {
    left: 70%;
    top: 20%;
}
#shapes-mask .pink {
    stroke: #f06449;
    fill: none;
}

#shapes-mask .p5 {
    left: 5%;
    top: 80%;
}

#shapes-mask .p6 {
    left: 2%;
    top: 20%;
}
#shapes-mask .p7 {
    left: 50%;
    bottom: 2%;
}

#shapes-mask .p8 {
    left: 85%;
    bottom: 4%;
}

#shapes-mask .p9 {
    left: 20%;
    top: 2%;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
}

#shapes-mask .p10 {
    left: 10%;
    bottom: 2%;
    -webkit-transform: rotate(85deg);
    transform: rotate(85deg);
}

#shapes-mask .p11 {
    left: 90%;
    top: 2%;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.page-content {
    padding-top: 62px;
}

.main-hero-text {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    color: #fff;
    transition: color 0.3s ease, opacity 0.3s ease 0.65s;
    z-index: 7;

    .content {
        padding-left: 5%;

        .main-hero-title {
            display: inline-block;
            margin-bottom: 0.1875566421em;
            font-size: 50px;
            line-height: 1.1253398526;
            width: 100%;

            @include start-at(400px) {
                font-size: 59px !important;
            }

            @include start-at(420px) {
                font-size: 60px !important;
            }

            @include start-at($small) {
                font-size: 84px !important;
            }

            @include start-at($medium) {
                font-size: 96px !important;
            }
        }

        .text-gradient {
            background: linear-gradient(
                270.97deg,
                #ffe580 -21.36%,
                #ff7571 -2.45%,
                #ea5dad 26.84%,
                #c2a0fd 64.15%,
                #3bf0e4 108.29%,
                #b2f4b6 159.03%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
            background-position: 58% 50%;
            background-size: 500%;
            animation: gradient-shift 30s ease infinite;
        }

        .main-hero-subtitle {
            font-weight: 400;
            margin-bottom: 30px;
            line-height: 30px;
            font-size: 28px;
        }
    }
}

.content {
    width: 1000px;
    margin: 0 auto;
}

.content:after,
.content:before {
    content: " ";
    display: table;
}

.content:after {
    clear: both;
}

@media only screen and (min-width: 75em) {
    .content {
        width: 1170px;
    }
}

@media only screen and (max-width: 64em) {
    .content {
        width: 95%;
    }
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

.word-spinner {
    position: relative;
    height: 30px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;

    .word-spinner-inner {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-transition: -webkit-transform 0.3s;
        transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s;

        .word-spinner-item {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;

            img {
                display: block;
                margin: 0 6px;
                width: 30px;
                height: 28px;
            }

            .word-spinner-word {
                color: #fff;
            }
        }
    }
}

.social-vertical-stripe {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 2%;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: opacity 0.35s ease 0.75s;
    z-index: 7;

    li {
        margin: 15px 0;

        a {
            color: #53566e;

            svg path {
                fill: #b0b2c3;
                transition: fill 0.3s ease;
            }
        }

        &:focus svg path, &:hover svg path {
            fill: #fff;
        }
    }
    svg {
        width: 23px;
        height: 23px;
    }

    @include start-at(400px) {
        svg {
            width: 55px;
            height: 55px;
        }
    }

}
