@-webkit-keyframes pageAnimationShapeOut {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        visibility: visible;
    }
    to {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        visibility: hidden;
    }
}
@keyframes pageAnimationShapeOut {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        visibility: visible;
    }
    to {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        visibility: hidden;
    }
}
@-webkit-keyframes pageAnimationShapeIn {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        visibility: visible;
    }
    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        visibility: visible;
    }
}
@keyframes pageAnimationShapeIn {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        visibility: visible;
    }
    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        visibility: visible;
    }
}
@-webkit-keyframes pageIconRotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    5% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    20% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    30% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    45% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    55% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    70% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    80% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    95% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
@keyframes pageIconRotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    5% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    20% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    30% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    45% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    55% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    70% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    80% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    95% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
.page-transition {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    visibility: hidden;
    display: -ms-flexbox;
    display: flex;

    .page-transition-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        background: #161122;
    }

    .page-transition-icon {
        -webkit-animation: pageIconRotate 2s ease-in-out infinite;
        animation: pageIconRotate 2s ease-in-out infinite;
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
        background: #16203a;
        opacity: 0;
        -webkit-transition: opacity 0.3s, visibility 0.3s;
        transition: opacity 0.3s, visibility 0.3s;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -50px 0 0 -50px;

        img {
            width: 80px;
            margin: 0;
        }
    }
}

.page-transition-entering {
    .page-transition-bg {
        -webkit-animation-duration: 0.6s;
        animation-duration: 0.6s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: pageAnimationShapeIn;
        animation-name: pageAnimationShapeIn;
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .page-transition-icon {
        opacity: 1;
        -webkit-animation-play-state: running;
        animation-play-state: running;
        visibility: visible;
        -webkit-transition-delay: 0.4s;
        transition-delay: 0.4s;
    }
}

.page-transition-entered {
    .page-transition-bg {
        -webkit-transform-origin: 100% 0 0;
        transform-origin: 100% 0 0;
        -webkit-animation-duration: 0.6s;
        animation-duration: 0.6s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease;
        -webkit-animation-name: pageAnimationShapeOut;
        animation-name: pageAnimationShapeOut;
    }
}

.page__transition + div {
    display: none;
}
